#vinha_helm {
  background-image: url("../images/characters/vinha/items/helm.jpg");
}

#vinha_chest {
  background-image: url("../images/characters/vinha/items/chest.jpg");
}

#vinha_shoulders {
  background-image: url("../images/characters/vinha/items/shoulders.jpg");
}

#vinha_pants {
  background-image: url("../images/characters/vinha/items/pants.jpg");
}

#vinha_belt {
  background-image: url("../images/characters/vinha/items/belt.jpg");
}

#vinha_ring_one {
  background-image: url("../images/characters/vinha/items/ringOne.jpg");
}

#vinha_ring_two {
  background-image: url("../images/characters/vinha/items/ringTwo.jpg");
}

#vinha_trinket_one {
  background-image: url("../images/characters/vinha/items/trinketOne.jpg");
}

#vinha_trinket_two {
  background-image: url("../images/characters/vinha/items/trinketTwo.jpg");
}

#vinha_shirt {
  background-image: url("../images/characters/vinha/items/empty.png");
}

#vinha_wrists {
  background-image: url("../images/characters/vinha/items/wrists.jpg");
}

#vinha_neck {
  background-image: url("../images/characters/vinha/items/neck.jpg");
}

#vinha_weaponOne {
  background-image: url("../images/characters/vinha/items/weapon.jpg");
}

#vinha_tabard {
  background-image: url("../images/characters/vinha/items/empty.png");
}

#vinha_weaponTwo {
  background-image: url("../images/characters/vinha/items/empty.png");
}

#vinha_cloak {
  background-image: url("../images/characters/vinha/items/cloak.jpg");
}

#vinha_gloves {
  background-image: url("../images/characters/vinha/items/gloves.jpg");
}

#vinha_boots {
  background-image: url("../images/characters/vinha/items/boots.jpg");
}

#vinha_background {
  height: 100%;
  width: 100%;
  background-image: url("../images/characters/vinha/vinha.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 0;
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(1) p {
    margin-left: -80px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(1) p {
    margin-left: -63px;
  }
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(2) p {
    margin-left: -53px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(2) p {
    margin-left: -40px;
  }
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(3) p {
    margin-left: -50px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(3) p {
    margin-left: -35px;
  }
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(4) p {
    margin-left: -65px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(4) p {
    margin-left: -50px;
  }
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(5) p {
    margin-left: -113px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(5) p {
    margin-left: -98px;
  }
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(6) p {
    margin-left: -113px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(6) p {
    margin-left: -95px;
  }
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(7) p {
    margin-left: -78px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(7) p {
    margin-left: -65px;
  }
}

@media (min-width: 992px) {
  #rightItems .Vinha:nth-of-type(8) p {
    margin-left: -90px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Vinha:nth-of-type(8) p {
    margin-left: -73px;
  }
}

#ghoultak_helm {
  background-image: url("../images/characters/ghoultak/items/helm.jpg");
}

#ghoultak_chest {
  background-image: url("../images/characters/ghoultak/items/chest.jpg");
}

#ghoultak_shoulders {
  background-image: url("../images/characters/ghoultak/items/shoulders.jpg");
}

#ghoultak_pants {
  background-image: url("../images/characters/ghoultak/items/pants.jpg");
}

#ghoultak_belt {
  background-image: url("../images/characters/ghoultak/items/belt.jpg");
}

#ghoultak_ring_one {
  background-image: url("../images/characters/ghoultak/items/ringOne.jpg");
}

#ghoultak_ring_two {
  background-image: url("../images/characters/ghoultak/items/ringTwo.jpg");
}

#ghoultak_trinket_one {
  background-image: url("../images/characters/ghoultak/items/trinketOne.jpg");
}

#ghoultak_trinket_two {
  background-image: url("../images/characters/ghoultak/items/trinketTwo.jpg");
}

#ghoultak_shirt {
  background-image: url("../images/characters/ghoultak/items/empty.png");
}

#ghoultak_wrists {
  background-image: url("../images/characters/ghoultak/items/wrists.jpg");
}

#ghoultak_neck {
  background-image: url("../images/characters/ghoultak/items/neck.jpg");
}

#ghoultak_weaponOne {
  background-image: url("../images/characters/ghoultak/items/weapon.jpg");
}

#ghoultak_tabard {
  background-image: url("../images/characters/ghoultak/items/empty.png");
}

#ghoultak_weaponTwo {
  background-image: url("../images/characters/ghoultak/items/empty.png");
}

#ghoultak_cloak {
  background-image: url("../images/characters/ghoultak/items/cloak.jpg");
}

#ghoultak_gloves {
  background-image: url("../images/characters/ghoultak/items/gloves.jpg");
}

#ghoultak_boots {
  background-image: url("../images/characters/ghoultak/items/boots.jpg");
}

#ghoultak_background {
  height: 100%;
  width: 100%;
  background-image: url("../images/characters/ghoultak/ghoultak.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 0;
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(1) p {
    margin-left: -103px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(1) p {
    margin-left: -86px;
  }
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(2) p {
    margin-left: -93px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(2) p {
    margin-left: -77px;
  }
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(3) p {
    margin-left: -129px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(3) p {
    margin-left: -110px;
  }
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(4) p {
    margin-left: -75px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(4) p {
    margin-left: -60px;
  }
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(5) p {
    margin-left: -82px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(5) p {
    margin-left: -67px;
  }
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(6) p {
    margin-left: -67px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(6) p {
    margin-left: -50px;
  }
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(7) p {
    margin-left: -148px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(7) p {
    margin-left: -135px;
  }
}

@media (min-width: 992px) {
  #rightItems .Ghoultak:nth-of-type(8) p {
    margin-left: -93px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Ghoultak:nth-of-type(8) p {
    margin-left: -80px;
  }
}

#grandil_helm {
  background-image: url("../images/characters/grandil/items/helm.jpg");
}

#grandil_chest {
  background-image: url("../images/characters/grandil/items/chest.jpg");
}

#grandil_shoulders {
  background-image: url("../images/characters/grandil/items/shoulders.jpg");
}

#grandil_pants {
  background-image: url("../images/characters/grandil/items/pants.jpg");
}

#grandil_belt {
  background-image: url("../images/characters/grandil/items/belt.jpg");
}

#grandil_ring_one {
  background-image: url("../images/characters/grandil/items/ringOne.jpg");
}

#grandil_ring_two {
  background-image: url("../images/characters/grandil/items/ringTwo.jpg");
}

#grandil_trinket_one {
  background-image: url("../images/characters/grandil/items/trinketOne.jpg");
}

#grandil_trinket_two {
  background-image: url("../images/characters/grandil/items/trinketTwo.jpg");
}

#grandil_shirt {
  background-image: url("../images/characters/grandil/items/shirt.jpg");
}

#grandil_wrists {
  background-image: url("../images/characters/grandil/items/wrists.jpg");
}

#grandil_neck {
  background-image: url("../images/characters/grandil/items/neck.jpg");
}

#grandil_weaponOne {
  background-image: url("../images/characters/grandil/items/weapon.jpg");
}

#grandil_tabard {
  background-image: url("../images/characters/grandil/items/tabard.jpg");
}

#grandil_weaponTwo {
  background-image: url("../images/characters/grandil/items/empty.png");
}

#grandil_cloak {
  background-image: url("../images/characters/grandil/items/cloak.jpg");
}

#grandil_gloves {
  background-image: url("../images/characters/grandil/items/gloves.jpg");
}

#grandil_boots {
  background-image: url("../images/characters/grandil/items/boots.jpg");
}

#grandil_background {
  height: 100%;
  width: 100%;
  background-image: url("../images/characters/grandil/grandil.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 0;
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(1) p {
    margin-left: -100px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(1) p {
    margin-left: -83px;
  }
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(2) p {
    margin-left: -70px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(2) p {
    margin-left: -50px;
  }
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(3) p {
    margin-left: -100px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(3) p {
    margin-left: -83px;
  }
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(4) p {
    margin-left: -85px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(4) p {
    margin-left: -67px;
  }
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(5) p {
    margin-left: -93px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(5) p {
    margin-left: -78px;
  }
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(6) p {
    margin-left: -92px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(6) p {
    margin-left: -75px;
  }
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(7) p {
    margin-left: -110px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(7) p {
    margin-left: -95px;
  }
}

@media (min-width: 992px) {
  #rightItems .Grandil:nth-of-type(8) p {
    margin-left: -58px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Grandil:nth-of-type(8) p {
    margin-left: -43px;
  }
}

#icemechanic_helm {
  background-image: url("../images/characters/icemechanic/items/helm.jpg");
}

#icemechanic_chest {
  background-image: url("../images/characters/icemechanic/items/chest.jpg");
}

#icemechanic_shoulders {
  background-image: url("../images/characters/icemechanic/items/shoulders.jpg");
}

#icemechanic_pants {
  background-image: url("../images/characters/icemechanic/items/pants.jpg");
}

#icemechanic_belt {
  background-image: url("../images/characters/icemechanic/items/belt.jpg");
}

#icemechanic_ring_one {
  background-image: url("../images/characters/icemechanic/items/ringOne.jpg");
}

#icemechanic_ring_two {
  background-image: url("../images/characters/icemechanic/items/ringTwo.jpg");
}

#icemechanic_trinket_one {
  background-image: url("../images/characters/icemechanic/items/trinketOne.jpg");
}

#icemechanic_trinket_two {
  background-image: url("../images/characters/icemechanic/items/trinketTwo.jpg");
}

#icemechanic_shirt {
  background-image: url("../images/characters/icemechanic/items/shirt.jpg");
}

#icemechanic_wrists {
  background-image: url("../images/characters/icemechanic/items/wrists.jpg");
}

#icemechanic_neck {
  background-image: url("../images/characters/icemechanic/items/neck.jpg");
}

#icemechanic_weaponOne {
  background-image: url("../images/characters/icemechanic/items/weapon.jpg");
}

#icemechanic_tabard {
  background-image: url("../images/characters/icemechanic/items/tabard.jpg");
}

#icemechanic_weaponTwo {
  background-image: url("../images/characters/icemechanic/items/empty.png");
}

#icemechanic_cloak {
  background-image: url("../images/characters/icemechanic/items/cloak.jpg");
}

#icemechanic_gloves {
  background-image: url("../images/characters/icemechanic/items/gloves.jpg");
}

#icemechanic_boots {
  background-image: url("../images/characters/icemechanic/items/boots.jpg");
}

#icemechanic_background {
  height: 100%;
  width: 100%;
  background-image: url("../images/characters/icemechanic/Icemechanic.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 0;
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(1) p {
    margin-left: -60px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(1) p {
    margin-left: -45px;
  }
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(2) p {
    margin-left: -125px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(2) p {
    margin-left: -105px;
  }
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(3) p {
    margin-left: -65px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(3) p {
    margin-left: -50px;
  }
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(4) p {
    margin-left: -115px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(4) p {
    margin-left: -98px;
  }
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(5) p {
    margin-left: -83px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(5) p {
    margin-left: -63px;
  }
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(6) p {
    margin-left: -55px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(6) p {
    margin-left: -40px;
  }
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(7) p {
    margin-left: -35px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(7) p {
    margin-left: -18px;
  }
}

@media (min-width: 992px) {
  #rightItems .Icemechanic:nth-of-type(8) p {
    margin-left: -32px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Icemechanic:nth-of-type(8) p {
    margin-left: -15px;
  }
}

#thorn_helm {
  background-image: url("../images/characters/thorn/items/helm.jpg");
}

#thorn_chest {
  background-image: url("../images/characters/thorn/items/chest.jpg");
}

#thorn_shoulders {
  background-image: url("../images/characters/thorn/items/shoulders.jpg");
}

#thorn_pants {
  background-image: url("../images/characters/thorn/items/pants.jpg");
}

#thorn_belt {
  background-image: url("../images/characters/thorn/items/belt.jpg");
}

#thorn_ring_one {
  background-image: url("../images/characters/thorn/items/ringOne.jpg");
}

#thorn_ring_two {
  background-image: url("../images/characters/thorn/items/ringTwo.jpg");
}

#thorn_trinket_one {
  background-image: url("../images/characters/thorn/items/trinketOne.jpg");
}

#thorn_trinket_two {
  background-image: url("../images/characters/thorn/items/trinketTwo.jpg");
}

#thorn_shirt {
  background-image: url("../images/characters/thorn/items/empty.png");
}

#thorn_wrists {
  background-image: url("../images/characters/thorn/items/wrists.jpg");
}

#thorn_neck {
  background-image: url("../images/characters/thorn/items/neck.jpg");
}

#thorn_weaponOne {
  background-image: url("../images/characters/thorn/items/weapon.jpg");
}

#thorn_tabard {
  background-image: url("../images/characters/thorn/items/tabard.jpg");
}

#thorn_cloak {
  background-image: url("../images/characters/thorn/items/cloak.jpg");
}

#thorn_gloves {
  background-image: url("../images/characters/thorn/items/gloves.jpg");
}

#thorn_boots {
  background-image: url("../images/characters/thorn/items/boots.jpg");
}

#thorn_background {
  height: 100%;
  width: 100%;
  background-image: url("../images/characters/thorn/thorn.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 0;
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(1) p {
    margin-left: -85px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(1) p {
    margin-left: -70px;
  }
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(2) p {
    margin-left: -100px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(2) p {
    margin-left: -85px;
  }
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(3) p {
    margin-left: -137px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(3) p {
    margin-left: -120px;
  }
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(4) p {
    margin-left: -85px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(4) p {
    margin-left: -67px;
  }
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(5) p {
    margin-left: -70px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(5) p {
    margin-left: -55px;
  }
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(6) p {
    margin-left: -80px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(6) p {
    margin-left: -60px;
  }
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(7) p {
    margin-left: -95px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(7) p {
    margin-left: -75px;
  }
}

@media (min-width: 992px) {
  #rightItems .Thorn:nth-of-type(8) p {
    margin-left: -95px;
  }
}
@media (min-width: 1200px) {
  #rightItems .Thorn:nth-of-type(8) p {
    margin-left: -78px;
  }
}

nav {
  background-color: #E4E3D3;
}

nav a {
  color: #020402;
}

nav a:hover {
  background-color: white;
  color: black;
}

button {
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/mastery.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 575px) {
  button {
    visibility: visible;
  }
}
@media (min-width: 576px) {
  button {
    visibility: hidden;
  }
}

.itemCol {
  padding-top: 10px;
  z-index: 1;
}

.item {
  padding: 5px;
  border-top: 2px solid #E4E3D3;
  border-bottom: 2px solid #E4E3D3;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media (min-width: 300px) {
  .item {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 576px) {
  .item {
    width: 100%;
    height: 60px;
  }
}
@media (min-width: 992px) {
  .item {
    width: 100%;
    height: 80px;
  }
}

@media (min-width: 300px) {
  .item p {
    visibility: hidden;
  }
}
@media (min-width: 576px) {
  .item p {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .item p {
    visibility: visible;
    font-size: 0.8rem;
    float: left;
    margin-right: -30px;
    margin-top: 10px;
  }
}

.itemImg {
  float: left;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 30%;
}
@media (min-width: 300px) {
  .itemImg {
    height: 20px;
    width: 20px;
  }
}
@media (min-width: 576px) {
  .itemImg {
    height: 50px;
    width: 50px;
  }
}
@media (min-width: 992px) {
  .itemImg {
    height: 100%;
    width: 50%;
  }
}

.item:hover p, .item:hover {
  color: white;
  cursor: pointer;
}

#character {
  margin-bottom: 50px;
}

@media (min-width: 300px) {
  h1 {
    margin-top: 250px;
  }
}

.portrait {
  width: 50px;
  height: 50px;
  border: 2px solid #E4E3D3;
  border-radius: 50%;
}
@media (min-width: 300px) {
  .portrait {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 576px) {
  .portrait {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 992px) {
  .portrait {
    width: 50px;
    height: 50px;
  }
}

.portrait:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid red;
}

#charSelect {
  border-top: 2px solid #E4E3D3;
  border-bottom: 2px solid #E4E3D3;
  border-radius: 7px;
  height: 70px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#backgroundCharSelect {
  background-color: #020402;
  width: 100%;
  height: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}
@media (min-width: 576px) {
  #backgroundCharSelect {
    height: 32%;
  }
}
@media (min-width: 992px) {
  #backgroundCharSelect {
    height: 25%;
  }
}
@media (min-width: 1200px) {
  #backgroundCharSelect {
    height: 25%;
  }
}

#charSelect h2 {
  text-align: center;
}

.portrait:nth-of-type(1) {
  background-image: url("../images/characters/thorn/thorn.jpg");
  background-position: center;
  background-size: 400%;
  background-repeat: no-repeat;
}

.portrait:nth-of-type(2) {
  background-image: url("../images/characters/icemechanic/Icemechanic.jpg");
  background-position: center;
  background-size: 600%;
  background-repeat: no-repeat;
}

.portrait:nth-of-type(3) {
  background-image: url("../images/characters/grandil/grandil.jpg");
  background-position: center;
  background-size: 600%;
  background-repeat: no-repeat;
}

.portrait:nth-of-type(4) {
  background-image: url("../images/characters/ghoultak/ghoultak.jpg");
  background-position: center;
  background-size: 600%;
  background-repeat: no-repeat;
}

.portrait:nth-of-type(5) {
  background-image: url("../images/characters/vinha/vinha.jpg");
  background-position: center;
  background-size: 600%;
  background-repeat: no-repeat;
}

#rightItems .itemImg {
  float: right;
}

.itemCol p {
  color: #a335ee;
}

#leftItems p {
  float: left;
  margin-top: -50px;
}
@media (min-width: 992px) {
  #leftItems p {
    margin-left: 63px;
  }
}
@media (min-width: 1200px) {
  #leftItems p {
    margin-left: 78px;
  }
}

#info h1, #info h2, #info h3, #info p {
  color: #020402;
}

.infoCol {
  height: 300px;
  border-radius: 5px;
  padding: 5px;
  background-color: #E4E3D3;
}
@media (min-width: 300px) {
  .infoCol {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .infoCol {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .infoCol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.infoCol h3 {
  text-align: center;
}

#events {
  background-image: url("../images/icecrown.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  height: 20%;
  width: 100%;
}

#daily {
  background-image: url("../images/mountains.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: -30px;
}

.infoCol {
  padding: 20px;
}

tr {
  outline: 2px solid #020402;
  width: 100%;
}

th {
  padding: 2px;
  text-align: center;
}

th:nth-of-type(2) {
  width: 10rem;
}

th:not(:nth-of-type(3)) {
  border-right: 1px solid #020402;
}

#infoHeader {
  text-align: center;
  margin-bottom: 20px;
}

#guildRoster {
  overflow: auto;
}

body {
  background-color: #020402;
}

h1, h2, h3 {
  font-family: "Tangerine", cursive;
}

h1, h2, h3, p {
  color: #E4E3D3;
}

h1, h2 {
  text-align: center;
}

.container {
  margin-top: 100px;
}

footer {
  padding: 10px;
  margin-top: 100px;
  height: 50px;
  width: 100%;
  background-color: #E4E3D3;
}

footer p {
  color: #020402;
}

#statsDisplay {
  outline: 2px solid red;
  margin-left: auto;
  margin-right: auto;
}

#stats article {
  margin-left: auto;
  margin-right: auto;
}

#stats img {
  height: 30px;
  width: 30px;
  float: left;
  margin: 2px;
}

#statsOne, #statsTwo {
  border: 2px solid #E4E3D3;
}

#stats p {
  font-size: 0.5em;
}

#innerStatsRow {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#innerStatsRow article {
  padding: 0;
}

.health {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/health.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: darkred;
  border-radius: 10px;
}

.int {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/int.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightskyblue;
  border-radius: 10px;
  transition: all 1s;
}

.strength {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/strength.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: darkorange;
  border-radius: 10px;
  transition: all 1s;
}

.stamina {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/stamina.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: deeppink;
  border-radius: 10px;
  transition: all 1s;
}

.vers {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/vers.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: dodgerblue;
  border-radius: 10px;
  transition: all 1s;
}

.mastery {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/mastery.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gold;
  border-radius: 10px;
  transition: all 1s;
}

.crit {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/crit.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: purple;
  border-radius: 10px;
  transition: all 1s;
}

.haste {
  border: 2px solid #E4E3D3;
  background-image: url("../images/icons/haste.png");
  background-size: 60%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: green;
  border-radius: 10px;
  transition: all 1s;
}

#statsHeader {
  margin-top: 100px;
}

.health:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

.int:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

.strength:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

.stamina:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

.crit:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

.haste:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

.mastery:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

.vers:hover {
  background-color: white;
  transition: all 1s;
  cursor: pointer;
}

#statsCharSelect {
  border-bottom: 2px solid #E4E3D3;
  border-radius: 7px;
  height: 70px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#backgroundCharSelect h3 {
  text-align: center;
  border-top: 2px solid #E4E3D3;
  border-radius: 7px;
  margin-top: 10px;
}

/*# sourceMappingURL=main.css.map */
