nav {
  background-color: #E4E3D3;
}

nav a {
  color: #020402;
}

nav a:hover {
  background-color: white;
  color: black;
}

.charCol {
  background-image: url("../images/characters/thorn.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.itemCol {
  padding-top: 10px;
}

.item {
  padding: 5px;
  border-top: 2px solid #E4E3D3;
  border-bottom: 2px solid #E4E3D3;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media (min-width: 300px) {
  .item {
    right: 0;
    width: 100%;
    height: 25px;
  }
}
@media (min-width: 576px) {
  .item {
    width: 100%;
    height: 35px;
  }
}
@media (min-width: 992px) {
  .item {
    width: 100%;
    height: 80px;
  }
}

.item p {
  text-align: left;
}
@media (min-width: 300px) {
  .item p {
    visibility: hidden;
  }
}
@media (min-width: 576px) {
  .item p {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .item p {
    visibility: visible;
    font-size: 0.8rem;
    float: left;
    margin-right: -30px;
    margin-top: 10px;
  }
}

.itemImg {
  float: left;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 30%;
}
@media (min-width: 300px) {
  .itemImg {
    height: 100%;
    width: 50%;
  }
}
@media (min-width: 576px) {
  .itemImg {
    height: 100%;
    width: 50%;
  }
}
.item:hover p, .item:hover {
  color: white;
  cursor: pointer;
}

#character {
  margin-bottom: 50px;
}

@media (min-width: 300px) {
  h1 {
    margin-top: 250px;
  }
}

.portrait {
  width: 50px;
  height: 50px;
  border: 2px solid #E4E3D3;
  border-radius: 50%;
}
@media (min-width: 300px) {
  .portrait {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 576px) {
  .portrait {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 992px) {
  .portrait {
    width: 50px;
    height: 50px;
  }
}

.portrait:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid red;
}

#charSelect {
  border-top: 2px solid #E4E3D3;
  border-bottom: 2px solid #E4E3D3;
  border-radius: 7px;
  height: 70px;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  padding: 5px;
}

#backgroundCharSelect {
  background-color: #020402;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  padding: 5px;
}
@media (min-width: 576px) {
  #backgroundCharSelect {
    height: 32%;
  }
}
@media (min-width: 992px) {
  #backgroundCharSelect {
    height: 25%;
  }
}
@media (min-width: 1200px) {
  #backgroundCharSelect {
    height: 25%;
  }
}

#charSelect h2 {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-self: flex-start;
  margin-bottom: 10px;
}

#helm {
  background-image: url("../images/items/helmet.gif");
}

#chest {
  background-image: url("../images/items/chest.gif");
}

#shoulder {
  background-image: url("../images/items/shoulders.gif");
}

#pants {
  background-image: url("../images/items/pants.gif");
}

#belt {
  background-image: url("../images/items/belt.gif");
}

#ringOne {
  background-image: url("../images/items/ringOne.gif");
}

#ringTwo {
  background-image: url("../images/items/ringTwo.gif");
}

#trinketOne {
  background-image: url("../images/items/trinketOne.gif");
}

#trinketTwo {
  background-image: url("../images/items/trinketTwo.gif");
}

#shirt {
  background-image: url("../images/items/shirt.gif");
}

#wrists {
  background-image: url("../images/items/wrists.gif");
}

#neck {
  background-image: url("../images/items/neck.gif");
}

#weapon {
  background-image: url("../images/items/weapon.gif");
}

#tabard {
  background-image: url("../images/items/empty.png");
}

#weaponTwo {
  background-image: url("../images/items/empty.png");
}

#cloak {
  background-image: url("../images/items/cloak.gif");
}

.portrait:nth-of-type(3) {
  background-image: url("../images/characters/thorn.jpg");
  background-position: center;
  background-size: 300%;
  background-repeat: no-repeat;
}

.portrait:nth-of-type(2) {
  background-image: url("../images/characters/randomOne.jpg");
  background-position: center;
  background-size: 300%;
  background-repeat: no-repeat;
}

.portrait:nth-of-type(4) {
  background-image: url("../images/characters/randomTwo.jpg");
  background-position: center;
  background-size: 300%;
  background-repeat: no-repeat;
}

#rightItems .itemImg {
  float: right;
}

#rightItems p {
  text-align: right;
  margin-left: -5px;
}

.itemCol p {
  color: lightsalmon;
}

#info h1, #info h2, #info h3, #info p {
  color: #020402;
}

.infoCol {
  height: 300px;
  border-radius: 5px;
  padding: 5px;
  background-color: #E4E3D3;
}
@media (min-width: 300px) {
  .infoCol {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .infoCol {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .infoCol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.infoCol h3 {
  text-align: center;
}

#events {
  background-image: url("../images/icecrown.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  height: 20%;
  width: 100%;
}

#daily {
  background-image: url("../images/mountains.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: -30px;
}

.infoCol {
  padding: 20px;
}

tr {
  outline: 2px solid #020402;
  width: 100%;
}

th {
  padding: 2px;
  text-align: center;
}

th:nth-of-type(2) {
  width: 10rem;
}

th:not(:nth-of-type(3)) {
  border-right: 1px solid #020402;
}

#infoHeader {
  text-align: center;
  margin-bottom: 20px;
}

#guildRoster {
  overflow: auto;
}

body {
  height: 3000px;
  background-color: #020402;
}

h1, h2, h3 {
  font-family: "Tangerine", cursive;
}

h1, h2, h3, p {
  color: #E4E3D3;
}

h1, h2 {
  text-align: center;
}

.container {
  margin-top: 100px;
}

#stats {
  outline: 2px solid green;
}

#stats article {
  margin-left: auto;
  margin-right: auto;
}

#stats img {
  height: 30px;
  width: 30px;
  float: left;
  margin: 2px;
}

#stats p {
  font-size: 0.5em;
}

#innerStatsRow {
  outline: 2px solid red;
}

#innerStatsRow article {
  outline: 2px solid black;
  padding: 0;
  background-color: lightblue;
}

/*# sourceMappingURL=main.css.map */
