#ghoultak_helm{
    background-image: url('../images/characters/ghoultak/items/helm.jpg');
}
#ghoultak_chest{
    background-image: url('../images/characters/ghoultak/items/chest.jpg');
}
#ghoultak_shoulders{
    background-image: url('../images/characters/ghoultak/items/shoulders.jpg');
}
#ghoultak_pants{
    background-image: url('../images/characters/ghoultak/items/pants.jpg');
}
#ghoultak_belt{
    background-image: url('../images/characters/ghoultak/items/belt.jpg');
}
#ghoultak_ring_one{
    background-image: url('../images/characters/ghoultak/items/ringOne.jpg');
}
#ghoultak_ring_two{
    background-image: url('../images/characters/ghoultak/items/ringTwo.jpg');
}
#ghoultak_trinket_one{
    background-image: url('../images/characters/ghoultak/items/trinketOne.jpg');
}
#ghoultak_trinket_two{
    background-image: url('../images/characters/ghoultak/items/trinketTwo.jpg');
}
#ghoultak_shirt{
    background-image: url('../images/characters/ghoultak/items/empty.png');
}
#ghoultak_wrists{
    background-image: url('../images/characters/ghoultak/items/wrists.jpg');
}
#ghoultak_neck{
    background-image: url('../images/characters/ghoultak/items/neck.jpg');
}
#ghoultak_weaponOne{
    background-image: url('../images/characters/ghoultak/items/weapon.jpg');
}
#ghoultak_tabard{
    background-image: url('../images/characters/ghoultak/items/empty.png');
}
#ghoultak_weaponTwo{
    background-image: url('../images/characters/ghoultak/items/empty.png');
}
#ghoultak_cloak{
    background-image: url('../images/characters/ghoultak/items/cloak.jpg');
}
#ghoultak_gloves{
    background-image: url('../images/characters/ghoultak/items/gloves.jpg');
}
#ghoultak_boots{
    background-image: url('../images/characters/ghoultak/items/boots.jpg');
}
#ghoultak_background{
    height: 100%;
    width: 100%;
    background-image: url('../images/characters/ghoultak/ghoultak.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 0;
}
#rightItems .Ghoultak:nth-of-type(1) p{
   
    
    @media (min-width:992px) {
        margin-left: -103px;
    }
    @media (min-width:1200px) {
        margin-left: -86px;
    }
}
#rightItems .Ghoultak:nth-of-type(2) p{
    @media (min-width:992px) {
        margin-left: -93px;
    }
    @media (min-width:1200px) {
        margin-left: -77px;
    }
}
#rightItems .Ghoultak:nth-of-type(3) p{
    @media (min-width:992px) {
        margin-left: -129px;
    }
    @media (min-width:1200px) {
        margin-left: -110px;
    }
}
#rightItems .Ghoultak:nth-of-type(4) p{
    @media (min-width:992px) {
        margin-left: -75px;
    }
    @media (min-width:1200px) {
        margin-left: -60px;
    }
}
#rightItems .Ghoultak:nth-of-type(5) p{
    @media (min-width:992px) {
        margin-left: -82px;
    }
    @media (min-width:1200px) {
        margin-left: -67px;
    }
}
#rightItems .Ghoultak:nth-of-type(6) p{
    @media (min-width:992px) {
        margin-left: -67px;
    }
    @media (min-width:1200px) {
        margin-left: -50px;
    }
}
#rightItems .Ghoultak:nth-of-type(7) p{
    @media (min-width:992px) {
        margin-left: -148px;
    }
    @media (min-width:1200px) {
        margin-left: -135px;
    }
}
#rightItems .Ghoultak:nth-of-type(8) p{
    @media (min-width:992px) {
        margin-left: -93px;
    }
    @media (min-width:1200px) {
        margin-left: -80px;
    }
}