#grandil_helm{
    background-image: url('../images/characters/grandil/items/helm.jpg');
    
}
#grandil_chest{
    background-image: url('../images/characters/grandil/items/chest.jpg');
}
#grandil_shoulders{
    background-image: url('../images/characters/grandil/items/shoulders.jpg');
}
#grandil_pants{
    background-image: url('../images/characters/grandil/items/pants.jpg');
}
#grandil_belt{
    background-image: url('../images/characters/grandil/items/belt.jpg');
}
#grandil_ring_one{
    background-image: url('../images/characters/grandil/items/ringOne.jpg');
}
#grandil_ring_two{
    background-image: url('../images/characters/grandil/items/ringTwo.jpg');
}
#grandil_trinket_one{
    background-image: url('../images/characters/grandil/items/trinketOne.jpg');
}
#grandil_trinket_two{
    background-image: url('../images/characters/grandil/items/trinketTwo.jpg');
}
#grandil_shirt{
    background-image: url('../images/characters/grandil/items/shirt.jpg');
}
#grandil_wrists{
    background-image: url('../images/characters/grandil/items/wrists.jpg');
}
#grandil_neck{
    background-image: url('../images/characters/grandil/items/neck.jpg');
}
#grandil_weaponOne{
    background-image: url('../images/characters/grandil/items/weapon.jpg');
}
#grandil_tabard{
    background-image: url('../images/characters/grandil/items/tabard.jpg');
}
#grandil_weaponTwo{
    background-image: url('../images/characters/grandil/items/empty.png');
}
#grandil_cloak{
    background-image: url('../images/characters/grandil/items/cloak.jpg');
}
#grandil_gloves{
    background-image: url('../images/characters/grandil/items/gloves.jpg');
}
#grandil_boots{
    background-image: url('../images/characters/grandil/items/boots.jpg');
}
#grandil_background{
    height: 100%;
    width: 100%;
   background-image: url('../images/characters/grandil/grandil.jpg');
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 50%;
   z-index: 0;
}