#icemechanic_helm{
    background-image: url('../images/characters/icemechanic/items/helm.jpg');
    
}
#icemechanic_chest{
    background-image: url('../images/characters/icemechanic/items/chest.jpg');
}
#icemechanic_shoulders{
    background-image: url('../images/characters/icemechanic/items/shoulders.jpg');
}
#icemechanic_pants{
    background-image: url('../images/characters/icemechanic/items/pants.jpg');
}
#icemechanic_belt{
    background-image: url('../images/characters/icemechanic/items/belt.jpg');
}
#icemechanic_ring_one{
    background-image: url('../images/characters/icemechanic/items/ringOne.jpg');
}
#icemechanic_ring_two{
    background-image: url('../images/characters/icemechanic/items/ringTwo.jpg');
}
#icemechanic_trinket_one{
    background-image: url('../images/characters/icemechanic/items/trinketOne.jpg');
}
#icemechanic_trinket_two{
    background-image: url('../images/characters/icemechanic/items/trinketTwo.jpg');
}
#icemechanic_shirt{
    background-image: url('../images/characters/icemechanic/items/shirt.jpg');
}
#icemechanic_wrists{
    background-image: url('../images/characters/icemechanic/items/wrists.jpg');
}
#icemechanic_neck{
    background-image: url('../images/characters/icemechanic/items/neck.jpg');
}
#icemechanic_weaponOne{
    background-image: url('../images/characters/icemechanic/items/weapon.jpg');
}
#icemechanic_tabard{
    background-image: url('../images/characters/icemechanic/items/tabard.jpg');
}
#icemechanic_weaponTwo{
    background-image: url('../images/characters/icemechanic/items/empty.png');
}
#icemechanic_cloak{
    background-image: url('../images/characters/icemechanic/items/cloak.jpg');
}
#icemechanic_gloves{
    background-image: url('../images/characters/icemechanic/items/gloves.jpg');
}
#icemechanic_boots{
    background-image: url('../images/characters/icemechanic/items/boots.jpg');
}