#thorn_helm{
    background-image: url('../images/characters/thorn/items/helmet.gif');
    
}
#thorn_chest{
    background-image: url('../images/characters/thorn/items/chest.gif');
}
#thorn_shoulders{
    background-image: url('../images/characters/thorn/items/shoulders.gif');
}
#thorn_pants{
    background-image: url('../images/characters/thorn/items/pants.gif');
}
#thorn_belt{
    background-image: url('../images/characters/thorn/items/belt.gif');
}
#thorn_ring_one{
    background-image: url('../images/characters/thorn/items/ringOne.gif');
}
#thorn_ring_two{
    background-image: url('../images/characters/thorn/items/ringTwo.gif');
}
#thorn_trinket_one{
    background-image: url('../images/characters/thorn/items/trinketOne.gif');
}
#thorn_trinket_two{
    background-image: url('../images/characters/thorn/items/trinketTwo.gif');
}
#thorn_shirt{
    background-image: url('../images/characters/thorn/items/shirt.gif');
}
#thorn_wrists{
    background-image: url('../images/characters/thorn/items/wrists.gif');
}
#thorn_neck{
    background-image: url('../images/characters/thorn/items/neck.gif');
}
#thorn_weaponOne{
    background-image: url('../images/characters/thorn/items/weapon.gif');
}
#thorn_tabard{
    background-image: url('../images/characters/thorn/items/empty.png');
}
#thorn_weaponTwo{
    background-image: url('../images/characters/thorn/items/empty.png');
}
#thorn_cloak{
    background-image: url('../images/characters/thorn/items/cloak.gif');
}
#thorn_gloves{
    background-image: url('../images/characters/thorn/items/gloves.gif');
}
#thorn_boots{
    background-image: url('../images/characters/thorn/items/boots.gif');
}