#thorn_helm{
    background-image: url('../images/characters/thorn/items/helm.jpg');
}
#thorn_chest{
    background-image: url('../images/characters/thorn/items/chest.jpg');
}
#thorn_shoulders{
    background-image: url('../images/characters/thorn/items/shoulders.jpg');
}
#thorn_pants{
    background-image: url('../images/characters/thorn/items/pants.jpg');
}
#thorn_belt{
    background-image: url('../images/characters/thorn/items/belt.jpg');
}
#thorn_ring_one{
    background-image: url('../images/characters/thorn/items/ringOne.jpg');
}
#thorn_ring_two{
    background-image: url('../images/characters/thorn/items/ringTwo.jpg');
}
#thorn_trinket_one{
    background-image: url('../images/characters/thorn/items/trinketOne.jpg');
}
#thorn_trinket_two{
    background-image: url('../images/characters/thorn/items/trinketTwo.jpg');
}
#thorn_shirt{
    background-image: url('../images/characters/thorn/items/empty.png');
}
#thorn_wrists{
    background-image: url('../images/characters/thorn/items/wrists.jpg');
}
#thorn_neck{
    background-image: url('../images/characters/thorn/items/neck.jpg');
}
#thorn_weaponOne{
    background-image: url('../images/characters/thorn/items/weapon.jpg');
}
#thorn_tabard{
    background-image: url('../images/characters/thorn/items/tabard.jpg');
}
#thorn_cloak{
    background-image: url('../images/characters/thorn/items/cloak.jpg');
}
#thorn_gloves{
    background-image: url('../images/characters/thorn/items/gloves.jpg');
}
#thorn_boots{
    background-image: url('../images/characters/thorn/items/boots.jpg');
}
#thorn_background {
    height: 100%;
    width: 100%;
    background-image: url('../images/characters/thorn/thorn.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 0;
}
#rightItems .Thorn p{
    // margin-left: -100px;
}
#rightItems .Thorn:nth-of-type(1) p{
    
    
    @media (min-width:992px) {
        margin-left: -85px;
    }
    @media (min-width:1200px) {
        margin-left: -70px;
    }
}
#rightItems .Thorn:nth-of-type(2) p{
    @media (min-width:992px) {
        margin-left: -100px;
    }
    @media (min-width:1200px) {
        margin-left: -85px;
    }
}
#rightItems .Thorn:nth-of-type(3) p{
    @media (min-width:992px) {
        margin-left: -137px;
    }
    @media (min-width:1200px) {
        margin-left: -120px;
    }
}
#rightItems .Thorn:nth-of-type(4) p{
    @media (min-width:992px) {
        margin-left: -85px;
    }
    @media (min-width:1200px) {
        margin-left: -67px;
    }
}
#rightItems .Thorn:nth-of-type(5) p{
    @media (min-width:992px) {
        margin-left: -70px;
    }
    @media (min-width:1200px) {
        margin-left: -55px;
    }
}
#rightItems .Thorn:nth-of-type(6) p{
    @media (min-width:992px) {
        margin-left: -80px;
    }
    @media (min-width:1200px) {
        margin-left: -60px;
    }
}
#rightItems .Thorn:nth-of-type(7) p{
    @media (min-width:992px) {
        margin-left: -95px;
    }
    @media (min-width:1200px) {
        margin-left: -75px;
    }
}
#rightItems .Thorn:nth-of-type(8) p{
    @media (min-width:992px) {
        margin-left: -95px;
    }
    @media (min-width:1200px) {
        margin-left: -78px;
    }
}




