#vinha_helm{
    background-image: url('../images/characters/vinha/items/helm.jpg');
    
}
#vinha_chest{
    background-image: url('../images/characters/vinha/items/chest.jpg');
}
#vinha_shoulders{
    background-image: url('../images/characters/vinha/items/shoulders.jpg');
}
#vinha_pants{
    background-image: url('../images/characters/vinha/items/pants.jpg');
}
#vinha_belt{
    background-image: url('../images/characters/vinha/items/belt.jpg');
}
#vinha_ring_one{
    background-image: url('../images/characters/vinha/items/ringOne.jpg');
}
#vinha_ring_two{
    background-image: url('../images/characters/vinha/items/ringTwo.jpg');
}
#vinha_trinket_one{
    background-image: url('../images/characters/vinha/items/trinketOne.jpg');
}
#vinha_trinket_two{
    background-image: url('../images/characters/vinha/items/trinketTwo.jpg');
}
#vinha_shirt{
    background-image: url('../images/characters/vinha/items/shirt.jpg');
}
#vinha_wrists{
    background-image: url('../images/characters/vinha/items/wrists.jpg');
}
#vinha_neck{
    background-image: url('../images/characters/vinha/items/neck.jpg');
}
#vinha_weaponOne{
    background-image: url('../images/characters/vinha/items/weapon.jpg');
}
#vinha_tabard{
    background-image: url('../images/characters/vinha/items/tabard.jpg');
}
#vinha_weaponTwo{
    background-image: url('../images/characters/vinha/items/empty.png');
}
#vinha_cloak{
    background-image: url('../images/characters/vinha/items/cloak.jpg');
}
#vinha_gloves{
    background-image: url('../images/characters/vinha/items/gloves.jpg');
}
#vinha_boots{
    background-image: url('../images/characters/vinha/items/boots.jpg');
}
#vinha_background{
    height: 100%;
    width: 100%;
   background-image: url('../images/characters/vinha/vinha.jpg');
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 50%;
   z-index: 0;
}