#stats{
    
    // outline: 2px solid green;
}
#stats article{
    // outline: 2px solid green;
    margin-left: auto;
    margin-right: auto;
}
#stats img{
    height: 30px;
    width: 30px;
    float: left;
    margin: 2px;
}
#statsOne, #statsTwo{
    border: 2px solid $primary-light-text;
}
#stats p{
    font-size: .5em;
}
#innerStatsRow{
    // outline: 5px solid red;
}
#innerStatsRow article{
    // outline: 2px solid $primary-light-text;
    padding: 0;
    // background-color: $primary-dark-background;
}
.health{
    background-image: url('../images/icons/health.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: darkred;
    border-radius: 10px;
    // @media (min-width:300px) {
    //     width: 50px;
    //     height: 50px;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }
}
.int{
    background-image: url('../images/icons/int.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightskyblue;
    border-radius: 10px;
}
.strength{
    background-image: url('../images/icons/strength.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: darkorange;
    border-radius: 10px;
}
.stamina{
    background-image: url('../images/icons/stamina.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color:deeppink;
    border-radius: 10px;
}

#statsHeader{
    margin-top: 100px;
}